<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin</title>
  </head>
  <body>
    <h1>Добавить товар</h1>
    <form action="" method="post">
      <ul style="list-style-type: none">
        <li>
          <label for="">Имя товара</label>
        </li>
        <li>
          <input name="name" type="text" />
        </li>
        <li>
          <label for="">Описание</label>
        </li>
        <li>
          <input name="description" type="text" />
        </li>
        <li>
          <label for="">Цена</label>
        </li>
        <li>
          <input name="prise" type="text" />
        </li>
        <li>
          <label for="">Название картинки</label>
        </li>
        <li>
          <input name="image" type="text" />
        </li>
        <li>
          <label for="">Категория</label>
        </li>
        <li>
          <select name="category">
            <option value="Костюмы">Костюмы</option>
            <option value="Оружие">Оружие</option>
            <option value="Аксессуары">Аксессуары</option>
            <option value="Парики">Парики</option>
          </select>
        </li>
        <button type="submit">Добавить</button>
      </ul>
    </form>
  </body>
</html>
