body{
    background: #E9ECE0;
}
.custom-nav-link.active {
    color: white !important; 
}
.custom-nav-link {
    color: black !important;
}
.bg {
	height: 1000px;
	background-size: cover;
	background-repeat: no-repeat !important;
	  background: linear-gradient(180deg, rgba(20, 20, 20, 0.6) 78.8%, #141414 100%), url("/bg.jpg");
	  background-size: 400% 400%;
	  animation: gradient 40s ease infinite;
  }
	
  @keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}
.button{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    
    background: #46467d;
    color: white;
}
.button:hover{
    opacity: 0.8;
}
.button.active{
    background: #3e6ae1;
    color: white;
}
.button:disabled{
    cursor: not-allowed;
}
footer{
	background: #46467d;
}
.headerDefault{
	height: 25em;
	background:linear-gradient(180deg, rgba(20, 20, 20, 0.6) 78.8%, #141414 100%);
	background-size:cover;
}
.block{
	padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
	background: #46467d;
	color: white;
	transition: all 0.3s;
}
.show-element{
	animation: button 1s forwards;
}
@keyframes button{
	0%{
		opacity: 0;
		transform: translateX(-50px);
	}
	50%{
		opacity: 1;
	}
	100%{
		transform: translateX(0);
	}

}
